#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

button {
  font-family: Arial;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
}

img {
  width: 50%;
}
